.carousel, .slick-dots {
    background-color: white;
    
}

.slick-dots {
    margin-bottom: 4vh;
}

.category-view {
    @media screen and (orientation:portrait) {
        height: 30vh;
      }
    @media screen and (orientation:landscape) {
        height:100vh;
    }
}
.header {
    width:100%;
    background-color: black;
    color: white;
    text-align: center;
    h2 {
        margin:0;
        font-weight: normal;
    }
    height: 10vh;
}

.carousel-container {
    padding: 4vh 45px 4vh 45px;
    background-color: white;
    height: 72vh;
    .carousel {
        .slick-list {
            .slick-track {
                height:75vh;
            }
        }
    }
    .slick-arrow {
        color: blue;
    }
 }

 .footer {
     width:100%;
     background-color: green;
     height:50px;
 }

 .slick-slide > div {
     height:inherit;
 }