.carousel, .slick-dots {
    background-color: white;
    
}

.carousel-container {
    padding: 45px;
    height:30vh;
    .carousel {
        height:100%;
        .slick-list {
            height: 100%;
        }
    }
 }
