.carousel, .slick-dots {
    background-color: white;
    
}
.category-view {
    @media screen and (orientation:portrait) {
        height: 30vh;
      }
    @media screen and (orientation:landscape) {
        height:100vh;
    }
}
.header {
    width:100%;
    background-color: black;
    color: white;
    text-align: center;
    h2 {
        margin:0;
        font-weight: normal;
    }
}

.carousel-container {
    padding: 45px;
    height: 100%;
    background-color: white;
    .carousel {
        height:inherit;
        .slick-list {
            height: inherit;
            .slick-track {
                height: inherit;
            }
        }
    }
 }
