.carousel-card{
    align-content: center;
    text-align: center;
    vertical-align: middle;
    height: 90%;
    .img-container {
        height:75%; 
        img {
            height: 100%;
            width: auto;
            margin: 0 auto 0 auto;
        }   
    }
    .info-container{
        height: 25%;
        h1,h2,h3,h4,h5,h6 {
            color: black;
            font-weight: 600;
            margin: 10px 0;
            font-size: 0.7rem;
        }
        
        h5 {
            color: grey;
            font-weight: normal;
            font-size: 1rem;
        }
    }
}

a {
    text-decoration: none;
}