.carousel-card{
    align-content: center;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    .img-container {
        height:75%;
        overflow: hidden;//delete
    
    }
    .info-container{
        height: 25%;
        h1,h2,h3,h4,h5,h6 {
            color: black;
            font-weight: 600;
            margin: 10px 0;
            font-size: 1.2rem;
        }
        
        h5 {
            color: grey;
            font-weight: normal;
            font-size: 1rem;
        }
    }
}

a {
    text-decoration: none;
}