@import '../../styles/variables';
.footer {
    display: flex;
    height: auto;
    background-color: $color-dark-gray;
    ul {
        display: flex;
        width: fit-content;
        height: auto;
        margin: 0 auto;
        align-items: center;
        list-style: none;
        li.footer-item {
            padding: 5px 20px;
            background-color: $color-dark-gray;
            border-right: 1px solid black;
            &:first-child{
                border-left: 1px solid black;
            }
            a {
                color: white;
                text-transform: uppercase;
            }
            &.footer-item--active {
                background-color: $color-blue;
                color: $color-black;
            }
        }
    }
}