@import '../../styles/shared';

.Header {
    &-action {
        background: $color-gray;
        width:  $header-size-sm;
        height:   $header-size-sm;
        font-size:   18px;
        color: $color-white;
        text-align: center;
        align-content: center;
        position: fixed;
        top: 0;
        left: 0;
        
        @media screen and (orientation:portrait) {
        	top: 20vh;
      	}
        
        &:last-child {
          margin-right: 0;
        }
    
        .svg-inline--fa {
          position:relative;
          top: 3vh;
          right: 1px;
          
        }
    
    
    
        @include media(desktop) {
          width:  $header-size-lg;
          height:   $header-size-lg;
          font-size:   26px;
          
          .svg-inline--fa {
            position:relative;
            top: $header-size-lg / 4;
            right: 1px;
            
            @media screen and (orientation:portrait) {
        		top: ($header-size-lg + 20vh) /4;
      		}
          }
        }
    
        @include media(tablet) {
          width:  $header-size-md;
          height:   $header-size-md;
          font-size:   22px;
        }
      }
      
  }