.activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (orientation:portrait) {
     
      margin-top: 20vh;
      height: 30vh;
    }
    @media screen and (orientation:landscape) {
      height:100vh;
    }
  }
  