.click-map {
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
    img {
        width: auto;
        height: 100%;
        max-width: 100%;
        margin: auto auto 0 auto;
    }
}