@import '../../../styles/shared';
.tile {
    margin: 2px;
    width: 100%;
    background-color: $color-pure-black;
    display: inline-flex;
    .pictureSegment {
        img {
            height: 100%;       
            width: auto;     
        }
    }
    .textSegment {
        color: white;
        font-weight: normal;
        margin: auto auto;
        .h1 {
            font-weight: normal;
        }
    }
}