@import '../../styles/shared';

.tile {
    display: inline-flex;
    .pictureSegment {
        background-color: antiquewhite;
        width: $main-page-tile-height;
    }
    .textSegment {
        color: white;
        width: $main-page-tile-height;
    }
}